/*add local fonts*/
@font-face {
    font-family: 'heading-1';
    src: url('../assets/fonts/lato/Lato-Heavy.ttf');
}
@font-face{
    font-family: 'heading-5';
    src: url('../assets/fonts/lato/Lato-Bold.ttf');
}
@font-face {
    font-family: 'MuseoSans-100';
    src: url('../assets/fonts/museo/MuseoSans-100.otf');
}
@font-face {
    font-family: 'MuseoSans-300';
    src: url('../assets/fonts/museo/MuseoSans-300.otf');
}
@font-face {
    font-family: 'MuseoSans-700';
    src: url('../assets/fonts/museo/MuseoSans_700.otf');
}
@font-face {
    font-family: 'MuseoSans-500';
    src: url('../assets/fonts/museo/MuseoSans_500.otf');
}

:root {    
    /* Primary colors */
    /* Green */
    --primary-green: #34A14C;
    --primary-green-100: #D6ECDB;
    --primary-green-200: #AED9B7;
    --primary-green-300: #85C794;
    --primary-green-400: #5DB470;
    --primary-green-500: #34A14C;
    --primary-green-600: #277939;
    --primary-green-700: #1A5126;
    --primary-green-800: #0D2813;
    /* blue */
    --primary-blue: #3E50B4;
    --primary-blue-100: #D8DCF0;
    --primary-blue-200: #B2B9E1;
    --primary-blue-300: #8B96D2;
    --primary-blue-400: #6573C3;
    --primary-blue-500: #3E50B4;
    --primary-blue-600: #2F3C87;
    --primary-blue-700: #1F285A;
    --primary-blue-800: #10142D;

    /* secondary colors */
    /* vividian */
    --secondary-vividian: #2F8676;
    --secondary-vividian-100: #D5E7E4;
    --secondary-vividian-200: #ACCFC8;
    --secondary-vividian-300: #82B6AD;
    --secondary-vividian-400: #599E91;
    --secondary-vividian-500: #2F8676;
    --secondary-vividian-600: #236559;
    --secondary-vividian-700: #18433B;
    --secondary-vividian-800: #0C221E;
    /* charcoal */
    --secondary-charcoal: #2C3E50;
    --secondary-charcoal-100: #D5D8DC;
    --secondary-charcoal-200: #ABB2B9;
    --secondary-charcoal-300: #808B96;
    --secondary-charcoal-400: #566573;
    --secondary-charcoal-500: #2C3E50;
    --secondary-charcoal-600: #212F3C;
    --secondary-charcoal-700: #161F28;
    --secondary-charcoal-800: #0B1014;

    /* neutral colors */
    /* french gray */
    --neutral-frenchgray: #B6BCC7;
    /* white smoke */
    --neutral-whitesmoke: #F5F5F5;
    /* night */
    --neutral-night: #0D0F0E;
  }

*, *:before, *:after {
    box-sizing: border-box;
}
body{
    background-color: var(--neutral-whitesmoke);
    font-family: MuseoSans-100, Arial, Helvetica, sans-serif;
    color: var(--neutral-night);
}
p{
    font-size: 16px;
    line-height: 150%;
}
h1{
    font-family: heading-1, Arial, Helvetica, sans-serif;
    font-size: 64px;
    line-height: 64px;
}
h5{
    font-family: heading-5, Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 22px;
}
.body-xl{
    font-size: 24px;
    line-height: 150%;
}
.body-bold-Large{
    font-family: MuseoSans-700, Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 150%;
}
p::first-letter, h1::first-letter, h2::first-letter, h3::first-letter, h4::first-letter, h5::first-letter, h6::first-letter{
    text-transform: uppercase;
}
.grid-container-index{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    width: 80vw;
    margin-left: 10vw;
}
.grid-item-index{
    padding: 20px;
    font-size: 30px;
    text-align: left;
    width: 40vw;
}
/* start sitenav */
nav.sitenav{
    font-family: MuseoSans-700, Arial, Helvetica, sans-serif;
    margin-top: 20px;
    width: 100vw;
    height: 48px;
    margin-bottom: 100px;
}
nav.sitenav .navlogo{
    position: absolute;
    left: 12vw;
}
nav.sitenav ul{
    display: flex;
    justify-content: right;
    margin-right: 9vw;
}
nav.sitenav ul li{
    padding-left: 56px;
    margin-top: 20px;
}
nav.sitenav ul li a{
    color: var(--neutral-night);
}
nav.sitenav ul li a.dashboardbutton-index{
    background-color: var(--primary-green);
    color: var(--neutral-whitesmoke);
    border: none;
    border-radius: 4px;
    padding: 17px 24px;
    font-size: 16px;
    font-family: MuseoSans-700, Arial, Helvetica, sans-serif;
    margin-left: 10px;
}
/* end sitenav */

/* start dashnav */
nav.dashnav{
    width: 240px;
    height: 100vh;
    position: fixed;
    background-color: var(--neutral-night);
}
nav.dashnav .toppart{
    margin-top: 8px;
}
nav.dashnav div li a{
    color: var(--neutral-whitesmoke);
    font-family: MuseoSans-300, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 150%;
}
nav.dashnav div li{
    margin-left: 16px;
    margin-bottom: 16px;
}
nav.dashnav div.bottompart{
    position: absolute;
    bottom: 0;
}
.active, .btn:hover {
    color: var(--primary-green);
}
/* end dashnav */
.signupform{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100vw;
    padding-left: 12vw;
    color: var(--neutral-night);
}

.signupform button{
    border: none;
    margin-bottom: 10px;
    background-color: var(--neutral-whitesmoke);
}
.signupform a:hover{
    text-decoration: underline;
}
a.loginbutton-register{
    font-family: MuseoSans-700, Arial, Helvetica, sans-serif;
    color: var(--secondary-vividian);
    font-size: 24px;
}
.loginbuttontext-register{
    font-family: MuseoSans-300, Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.slogan{
    color: var(--neutral-night);
}
.mainform-register{
    margin-top: 24px;
}
.form-grid-container-register-left{
    display: grid;
    grid-template-columns: auto auto;
    width: 560px;
    justify-content: left;
    column-gap: 32px;
    color: var(--neutral-night);
    height: 40px;
    margin-bottom: 24px;
}
.form-grid-item-register-1-2 input{
    width: 264px;
    height: 40px;
    padding: 0;
}
.form-grid-item-register-2-2{
    width: 560px;
    height: 40px;
    padding: 0;
}
.dropdown-register{
    width: 264px;
    height: 40px;
    padding: 0;
    background-color: var(--neutral-whitesmoke);
    border: 1px solid var(--secondary-charcoal);
    border-radius: 4px;
}
input {
    border: none;
    border-bottom: 1px solid var(--secondary-charcoal);
    background-color: #008cff00;
    margin-bottom: 10px;
}
input::placeholder{
    color: var(--secondary-charcoal);
}
select{
    border: none;
    border-bottom: 1px solid var(--secondary-charcoal);
    background-color: var(--neutral-whitesmoke);
    margin-bottom: 10px;
    color: var(--secondary-charcoal);
    height: 40px;
}
.signupform-container-input{
    width: 560px;
}
.signupform-container-img{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 112px;
    height: 100vh;
    background-color: #ac3f3f00;
}
.signupform-container-img img{
    height: 100vh;
}
.button-large-left{
    font-family: MuseoSans-700, Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 150%;
    border-bottom: 0px;
    text-align: left;
}
.button-large-right{
    font-family: MuseoSans-700, Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 150%;
    border-bottom: 0px;
    text-align: right;
}
.mainform-register li{
    margin-bottom: 20px;
    height: 40px;
}
.input-register{
    width: 560px;
    height: 40px;
    padding: 0;
    border-bottom: 0px;
    display: none;
}
.label-register{
    display: inline-block;
    height: 312px;
    width: 312px;
    background-image: url("../assets/photos/registerphoto.png");
    background-size: cover;
    cursor: pointer;
}
#selected-image{
    height: 312px;
    width: 312px;
    background-size: cover;
    margin-left: 124px;
    border-radius: 16px;
    cursor: pointer;
}
.signupform-container-img div img.mySlides{
    height: 100vh;
    width: auto;
}
.signupform-container-img div{
    position: absolute;
}
.gradientcitypic{
    z-index: 1;
    height: 100vh;
    width: 1000px;
    background: linear-gradient(90deg, rgb(245, 245, 245) 10%, rgba(245, 245, 245, 0) 100%);
}
.warningtext{
    text-align: center;
    color: red;
    font-size: 20px;
    color: var(--warning);
    margin-bottom: 20px;
    margin-top: 50px;
}
#charcoal{
    color: var(--secondary-charcoal)
}
.dashcontent{
    display: grid;
    grid-template-columns: 7fr 4fr;
    column-gap: 112px;
    background-color: rgba(255, 255, 255, 0);
    width: 100vw;
    height: 100vh;
    padding-left: 304px;
    padding-right: 304px;
    padding-top: 40px;
}
.dashcontent .projects{
    background-color: rgba(255, 255, 255, 0);
    width: 38.18vw;
    grid-row-start: 1;
    grid-row-end: 3;
}
.dashcontent .rightdiv .ongoing-polls{
    background-color: rgba(255, 255, 255, 0);
    width: 21.81vw;
    height: 320px;
    overflow: auto;
}
.dashcontent .rightdiv .recent-announcements{
    background-color: rgba(255, 255, 255, 0);
    width: 21.81vw;
    margin-bottom: 112px;
    height: 412px;
    overflow: auto;
}
.ongoingpolls-container{
    height: 320px;
}
.recentannouncements-container{
    height: 427px;
}
.dashcontent .rightdiv{
    position: fixed;
    display: grid;
    grid-template-rows: 3fr 4fr;
    row-gap: 56px;
    right: 304px;
}
.projectcard{
    border: 1px solid var(--secondary-charcoal);
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 24fr 40fr;
    column-gap: 32px;
    padding: 40px;
}
.projectcardimg{
    height: 240px;
    width: 240px;
    border-radius: 8px;
    background-size: cover;
}
h4{
    font-family: heading-5, Arial, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 128%;
    margin: 0;
}
.body-xs{
    font-family: MuseoSans-300, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 150%;
    margin: 0;
}
.body-normal{
    font-family: MuseoSans-300, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 150%;
    margin: 0;
}
#projectcardsummary{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    line-clamp: 4;
    -webkit-box-orient: vertical;
    padding-top: 10px;
    height: 111px;
}
.projectcard-title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 50px;
    text-transform: uppercase;
}
a.read-more-projectcard{
    background-color: var(--secondary-vividian);
    color: var(--neutral-whitesmoke);
    font-family: MuseoSans-700, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 150%;
    padding: 12px 16px;    
    border-radius: 2px;
}
div.readmore-div-projectcard{
    position: absolute;
    margin-top: 20px;
}
.body-medium-xl{
    font-family: MuseoSans-500, Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 150%;
    margin: 0;
}
.announcementcard{
    margin-top: 24px;
    display: grid;
    grid-template-columns: 4fr 36fr;
    column-gap: 16px;
}
.announcementcardimg{
    height: 40px;
    width: 40px;
    border-radius: 4px;
    background-size: cover;

}
.body-small{
    font-family: MuseoSans-300, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 150%;
    margin: 0;
}
#announcementcardtext{
    grid-column: 2/3;
}
.pollcard{
    margin-top: 24px;
    height: 48px;
    display: grid;
    grid-template-columns: 4fr 36fr;
    column-gap: 16px;
}
#polldates{
    grid-column: 2/3;
}
#pollcardtitle{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
    height: 32px;
}
.pollcardimg{
    height: 48px;
    width: 48px;
    border-radius: 4px;
    background-size: cover;
    grid-row-start: 1;
    grid-row-end: 3;
}
.form-grid-item-register-1-2 input[type=submit]:hover{
    text-decoration: underline;
    cursor: pointer;
}
nav.dashnav div li.subprojectnav{
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--neutral-whitesmoke);
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-top: 12px;
    margin-bottom: 0;
    width: 190px;
}
nav.dashnav ul li a.subproject{
    font-size: 14px;
}
nav.dashnav ul li a.subproject:hover{
    color: var(--primary-green);
}
.projectbox{
    width: 15px;
    height: 15px;
    margin-right: 8px;
    border: 1px solid var(--secondary-charcoal);
    border-radius: 2px;
    display: inline-block;
}
.projectcontent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0);
    padding-left: 304px;
    padding-right: 304px;
}
.projectcontent h5{
    margin-top: 24px;
    margin-bottom: 24px;
}
.projecttop{
    grid-column: 1 / span 2;
}
.bottom-section {
    display: grid;
    grid-template-columns: 752fr 448fr;
    column-gap: 112px;
    width: 100vw;
    padding-right: 304px;
    padding-top: 40px;
  }
.upcoming-schedules-projects{
    background-color: rgba(255, 255, 255, 0);
    width: 41.81vw;
    height: 375px;
    overflow: auto;

}
.recentannouncements-projects{
    background-color: rgba(255, 255, 255, 0);
    width: 21.81vw;
    height: 375px;
    overflow: auto;
}
/* start projectnav */
nav.projectnav{
    border-bottom: var(--neutral-frenchgray) 1px solid;
    font-family: MuseoSans-300, Arial, Helvetica, sans-serif;   
    width: 75vw;

    /* width nog bezien */


    height: 40px;
}
nav.projectnav a{
    line-height: 150%;
    font-size: 20px;
    color: var(--neutral-night);
}
nav.projectnav a:hover{
    color: var(--primary-green);
}
nav.projectnav ul{
    display: flex;
    justify-content: left;
    margin-top: 24px;
}
nav.projectnav ul li{
    padding-right: 64px;
}
.projectsummary{
    margin-top: 24px;
    width: 70vw;
    background-color: rgba(255, 255, 255, 0);
}
/* end projectnav */
/* start chat */
.chat{
    display: grid;
    grid-template-columns: 232fr 1112fr;
    grid-template-rows: auto 1fr;
    column-gap: 32px;
    background-color: rgba(255, 255, 255, 0);
    width: 100vw;
    height: 100vh;
    padding-left: 240px;
    padding-right: 304px;
}
.top-chat{
    grid-column: 1 / span 2;
    height: 79px;
    padding-left: 64px;
}
.contactbox-chat{
    width: 232px;
}
.chatbox-chat{
    overflow: auto;
}
.chatsearch{
    border: 1px solid var(--neutral-night);
    border-radius: 4px;
    margin-left: 10%;
    margin-top: 5px;
    margin-bottom: 0;
    width: 80%;
    height: 32px;
}
.chatsearch::placeholder{
    color: var(--neutral-night);
}
.sendpart{
    grid-column: 2;
    margin-top: 32px;
}
.send-chat{
    border: 1px solid var(--neutral-night);
    border-radius: 4px;
    height: 48px;
    width: 100%;
}

.send{
    border: 0;
    font-size: 20px;
}
.send:hover{
    cursor: pointer;
    color: var(--primary-green);
}
.messagecontent-chat::first-letter{
    text-transform: unset;
}
.charcoal{
    color: var(--secondary-charcoal);
}
.chatmessage-chat-me, .chatmessage-chat-other{
    display: grid;
    grid-template-columns: max-content max-content max-content;
    margin-top: 32px;

}
.pic-chat{
    display: inline-block;
    height: 48px;
    width: 48px;
    border-radius: 4px;
    background-size: cover;
}
.adminchat{
    background-color: var(--primary-blue);
    color: var(--neutral-whitesmoke);
    border-radius: 4px;
    padding-left: 8px;
    padding-right: 8px;
    height: 40px;
    line-height: 40px;
}
.chatuser{
    padding-left: 8px;
    padding-right: 8px;
    height: 40px;
    line-height: 40px;
}
.nametag-chat{
    display: grid;
    grid-template-columns: max-content max-content;
}
.date-chat{
    padding-left: 12px;
    line-height: 40px;
}
.messagecontent-chat{
    grid-column: 1/ span 2;
    width: 80%;
}
.contacts-chat{
    margin-left: 16px;
    margin-right: 12px;
    width: 86%;
}
.contacttitle{
    margin-bottom: 16px;
    margin-top: 12px;
}
.user-chat{
    display: grid;
    grid-template-columns: max-content max-content;
    height: 36px;
    margin-bottom: 12px;
    color: var(--neutral-night);
}
.user-chat:hover{
    cursor: pointer;
    background-color: var(--primary-green-200);
    border-radius: 4px;
}
.user-image-chat{
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-top: 4px;
    margin-left: 4px;
    border-radius: 4px;
    background-size: cover;
    margin-right: 8px;
    grid-row: 1 / span 2;
}
.lastmessage{
    grid-column: 2;
}
.titlecontainer-chat{
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}
#feedback{
    color: red;
}
.selected-chat{
    background-color: var(--primary-green-200);
    border-radius: 4px;
}

















.feedpost{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    margin-left: 5vw;
    color: var(--neutral-night);
    background-color: var(--neutral-whitesmoke);
    border-radius: 10px;
    margin-bottom: 20px;
    padding-bottom: 40px;
    padding-top: 20px;
}
.feed{
    width: 60vw;
    margin-left: 20vw;
    background-color: var(--neutral-frenchgray);
    padding-top: 50px;
    padding-bottom: 50px;
}
.post{
    width: 40vw;
    margin-left: 5vw;
}
.comment{
    width: 40vw;
    margin-left: 5vw;
    background-color: var(--neutral-frenchgray);
    color: var(--neutral-night);
    margin-top: 50px;
}
.commentheader{
    margin-bottom: 10px;
    font-size: 30px;
}
.commentname{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a:link, a:visited, a:active{
    text-decoration: none;
}
.newpost{
    display: flex;
    justify-content: center;
    width: 50vw;
    margin-left: 5vw;
    color: var(--neutral-night);
    background-color: var(--neutral-whitesmoke);
    border-radius: 10px;
    margin-bottom: 20px;
    padding-bottom: 40px;
    padding-top: 20px;
}
.newpost input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}
.fp-place{
    text-align: center;
    font-size: 50px;
    color: var(--black);
    margin-bottom: 20px;
    margin-top: 50px;
}
.fp-place::first-letter{
    text-transform: capitalize;
}
.newposttitle{
    text-align: center;
    font-size: 30px;
    color: var(--neutral-night);
    margin-bottom: 20px;
    margin-top: 50px;
}
.noposts{
    text-align: center;
    font-size: 30px;
    color: var(--neutral-night);
    margin-bottom: 20px;
    margin-top: 50px;
}
.account-avatar{
    width: 300px;
    height: auto;
}
.postpic{
    width: 40vw;
}
a#like{
    color: var(--primary-green);
}
.nocomments{
    text-align: center;
    font-size: 20px;
    color: var(--neutral-night);
    margin-bottom: 20px;
    margin-top: 50px;
}
.poll{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
    margin-left: 5vw;
    color: var(--neutral-night);
    border-radius: 10px;
}
.poll-options{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
    color: var(--neutral-night);
    border-radius: 10px;
    padding-top: 20px;
}
.polltitle{
    text-align: center;
    font-size: 30px;
    color: var(--neutral-night);
    margin-bottom: 20px;
    margin-top: 50px;
}
.pollvotes{
    text-align: center;
    font-size: 20px;
    color: var(--neutral-night);
}

.residenttitle{
    text-align: center;
    font-size: 30px;
    color: var(--neutral-night);
    margin-bottom: 20px;
    margin-top: 50px;
}
.resident{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
    margin-left: 30vw;
    padding-left: 5vw;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--neutral-night);
    background-color: var(--neutral-frenchgray);
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 10px;
}
.mainpolltitle{
    text-align: center;
    font-size: 30px;
    color: var(--neutral-night);
    margin-bottom: 20px;
    margin-top: 50px;
}
.resident-avatar{
    width: 100px;
    height: auto;
}