:root {
    --backgroundcolor: rgb(169, 57, 57);
    --white: white;
    --black: black;
    --feedpostbackground: rgb(215, 215, 215);
    --feedbackground: rgb(233, 233, 233);
    --navbackground: rgb(70, 33, 33);
    --navhover: rgb(212, 38, 38);
  }
  
body{
    background-color: var(--backgroundcolor);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
}
.feedpost{
    display: flex;
    justify-content: center;
    width: 50vw;
    margin-left: 5vw;
    color: black;
    background-color: var(--feedpostbackground);
    border-radius: 10px;
    margin-bottom: 20px;
    padding-bottom: 40px;
    padding-top: 20px;
}
.feed{
    width: 60vw;
    margin-left: 20vw;
    background-color: var(--feedbackground);
    padding-top: 50px;
    padding-bottom: 50px;
}
nav{
    width: 100vw;
    height: 100px;
    background-color: var(--navbackground);
    margin-bottom: 20px;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    padding: 10px;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a:link, a:visited, a:active{
    color: white;
    text-decoration: none;
}
a:hover{
    color: var(--navhover);
}
.newpost{
    display: flex;
    justify-content: center;
    width: 50vw;
    margin-left: 5vw;
    color: var(--black);
    background-color: var(--feedpostbackground);
    border-radius: 10px;
    margin-bottom: 20px;
    padding-bottom: 40px;
    padding-top: 20px;
}