/*add local fonts*/
@font-face {
    font-family: 'heading-1';
    src: url('../assets/fonts/lato/Lato-Heavy.ttf');
}
@font-face{
    font-family: 'heading-5';
    src: url('../assets/fonts/lato/Lato-Bold.ttf');
}
@font-face {
    font-family: 'MuseoSans-100';
    src: url('../assets/fonts/museo/MuseoSans-100.otf');
}
@font-face {
    font-family: 'MuseoSans-300';
    src: url('../assets/fonts/museo/MuseoSans-300.otf');
}
@font-face {
    font-family: 'MuseoSans_700';
    src: url('../assets/fonts/museo/MuseoSans-700.otf');
}

:root {    
    /* Primary colors */
    /* Green */
    --primary-green: #34A14C;
    --primary-green-100: #D6ECDB;
    --primary-green-200: #AED9B7;
    --primary-green-300: #85C794;
    --primary-green-400: #5DB470;
    --primary-green-500: #34A14C;
    --primary-green-600: #277939;
    --primary-green-700: #1A5126;
    --primary-green-800: #0D2813;
    /* blue */
    --primary-blue: #3E50B4;
    --primary-blue-100: #D8DCF0;
    --primary-blue-200: #B2B9E1;
    --primary-blue-300: #8B96D2;
    --primary-blue-400: #6573C3;
    --primary-blue-500: #3E50B4;
    --primary-blue-600: #2F3C87;
    --primary-blue-700: #1F285A;
    --primary-blue-800: #10142D;

    /* secondary colors */
    /* vividian */
    --secondary-vividian: #2F8676;
    --secondary-vividian-100: #D5E7E4;
    --secondary-vividian-200: #ACCFC8;
    --secondary-vividian-300: #82B6AD;
    --secondary-vividian-400: #599E91;
    --secondary-vividian-500: #2F8676;
    --secondary-vividian-600: #236559;
    --secondary-vividian-700: #18433B;
    --secondary-vividian-800: #0C221E;
    /* charcoal */
    --secondary-charcoal: #2C3E50;
    --secondary-charcoal-100: #D5D8DC;
    --secondary-charcoal-200: #ABB2B9;
    --secondary-charcoal-300: #808B96;
    --secondary-charcoal-400: #566573;
    --secondary-charcoal-500: #2C3E50;
    --secondary-charcoal-600: #212F3C;
    --secondary-charcoal-700: #161F28;
    --secondary-charcoal-800: #0B1014;

    /* neutral colors */
    /* french gray */
    --neutral-frenchgray: #B6BCC7;
    /* white smoke */
    --neutral-whitesmoke: #F5F5F5;
    /* night */
    --neutral-night: #0D0F0E;
  }

  
body{
    background-color: var(--neutral-whitesmoke);
    font-family: MuseoSans-100, Arial, Helvetica, sans-serif;
    color: var(--neutral-night);
}
p{
    font-size: 16px;
    line-height: 150%;
}
h1{
    font-family: heading-1, Arial, Helvetica, sans-serif;
    font-size: 64px;
    line-height: 64px;
}
h5{
    font-family: heading-5, Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 22px;
}
.grid-container-index{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    width: 80vw;
    margin-left: 10vw;
}
.grid-item-index{
    padding: 20px;
    font-size: 30px;
    text-align: left;
    width: 40vw;
}
nav{
    font-family: MuseoSans-700, Arial, Helvetica, sans-serif;
    margin-top: 20px;
    width: 100vw;
    height: 48px;
    background-color: var(--neutral-whitesmoke);
    margin-bottom: 100px;
}
.navlogo{
    position: absolute;
    left: 12vw;
}
nav ul{
    display: flex;
    justify-content: right;
    margin-right: 9vw;
}
nav ul li{
    padding-left: 56px;
    margin-top: 20px;
}
nav ul li a{
    color: var(--neutral-night);
}
.dashboardbutton-index{
    background-color: var(--primary-green);
    color: var(--neutral-whitesmoke);
    border: none;
    border-radius: 4px;
    padding: 17px 24px;
    font-size: 16px;
    font-family: MuseoSans-700, Arial, Helvetica, sans-serif;
    margin-left: 10px;

}
.signupform{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    width: 80vw;
    margin-left: 10vw;
    color: var(--neutral-night);
}

.signupform input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}
.signupform button{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}
.signupform a:hover{
    text-decoration: underline;
}
a.loginbutton-register{
    font-family: MuseoSans-700, Arial, Helvetica, sans-serif;
    color: var(--primary-green);
    font-size: 24px;
}
.loginbuttontext-register{
    font-family: MuseoSans-300, Arial, Helvetica, sans-serif;
    font-size: 24px;
}



























.feedpost{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50vw;
    margin-left: 5vw;
    color: var(--neutral-night);
    background-color: var(--neutral-whitesmoke);
    border-radius: 10px;
    margin-bottom: 20px;
    padding-bottom: 40px;
    padding-top: 20px;
}
.feed{
    width: 60vw;
    margin-left: 20vw;
    background-color: var(--neutral-frenchgray);
    padding-top: 50px;
    padding-bottom: 50px;
}
.post{
    width: 40vw;
    margin-left: 5vw;
}
.comment{
    width: 40vw;
    margin-left: 5vw;
    background-color: var(--neutral-frenchgray);
    color: var(--neutral-night);
    margin-top: 50px;
}
.commentheader{
    margin-bottom: 10px;
    font-size: 30px;
}
.commentname{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
a:link, a:visited, a:active{
    text-decoration: none;
}
.newpost{
    display: flex;
    justify-content: center;
    width: 50vw;
    margin-left: 5vw;
    color: var(--neutral-night);
    background-color: var(--neutral-whitesmoke);
    border-radius: 10px;
    margin-bottom: 20px;
    padding-bottom: 40px;
    padding-top: 20px;
}
.newpost input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}
.loginform{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50vw;
    margin-left: 25vw;
    color: var(--neutral-whitesmoke);
    background-color: var(--neutral-frenchgray);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 50px;
    padding-bottom: 40px;
    padding-top: 20px;
}
.loginform input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}
.loginform button{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}
.loginform a{
    color: var(--neutral-whitesmoke);
}
.loginform a:hover{
    text-decoration: underline;
}
.fp-place{
    text-align: center;
    font-size: 50px;
    color: var(--black);
    margin-bottom: 20px;
    margin-top: 50px;
}
.fp-place::first-letter{
    text-transform: capitalize;
}
.newposttitle{
    text-align: center;
    font-size: 30px;
    color: var(--neutral-night);
    margin-bottom: 20px;
    margin-top: 50px;
}
.noposts{
    text-align: center;
    font-size: 30px;
    color: var(--neutral-night);
    margin-bottom: 20px;
    margin-top: 50px;
}
.account-avatar{
    width: 300px;
    height: auto;
}
.postpic{
    width: 40vw;
}
a#like{
    color: var(--primary-green);
}
.nocomments{
    text-align: center;
    font-size: 20px;
    color: var(--neutral-night);
    margin-bottom: 20px;
    margin-top: 50px;
}
.poll{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
    margin-left: 5vw;
    color: var(--neutral-night);
    border-radius: 10px;
}
.poll-options{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
    color: var(--neutral-night);
    border-radius: 10px;
    padding-top: 20px;
}
.polltitle{
    text-align: center;
    font-size: 30px;
    color: var(--neutral-night);
    margin-bottom: 20px;
    margin-top: 50px;
}
.pollvotes{
    text-align: center;
    font-size: 20px;
    color: var(--neutral-night);
}
.warningtext{
    text-align: center;
    font-size: 20px;
    color: var(--warning);
    margin-bottom: 20px;
    margin-top: 50px;
}
.residenttitle{
    text-align: center;
    font-size: 30px;
    color: var(--neutral-night);
    margin-bottom: 20px;
    margin-top: 50px;
}
.resident{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
    margin-left: 30vw;
    padding-left: 5vw;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--neutral-night);
    background-color: var(--neutral-frenchgray);
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 10px;
}
.mainpolltitle{
    text-align: center;
    font-size: 30px;
    color: var(--neutral-night);
    margin-bottom: 20px;
    margin-top: 50px;
}
.resident-avatar{
    width: 100px;
    height: auto;
}